<nav
  class="navbar navbar-expand-lg navbar-dark"
  style="background-color: #264143"
>
  <div class="container-fluid">
    <a class="navbar-brand" href="/"
      ><img src="/images/Logo.png" style="width: 200px"
    /></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse justify-content-end"
      id="navbarNavAltMarkup"
    >
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="/">Home</a>
        <a class="nav-link" href="/blogs">Blog</a>
        <a class="nav-link" href="/books-names">Books</a>
        <a class="nav-link" href="/about">About</a>
      </div>
    </div>
  </div>
</nav>
